{% extends 'base.html.twig' %}

{% block title %}Companies index{% endblock %}

{% block body %}
    <h1>Companies index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>City</th>
                <th>Num_employees</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.id }}</td>
                <td>{{ company.name }}</td>
                <td>{{ company.city }}</td>
                <td>{{ company.numEmployees }}</td>
                <td>
                    <a href="{{ path('companies_show', {'id': company.id}) }}">show</a>
                    <a href="{{ path('companies_edit', {'id': company.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('companies_new') }}">Create new</a>
{% endblock %}
