{% extends 'base.html.twig' %}

{% block title %}Companies{% endblock %}

{% block body %}
    <h1>Companies</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ company.city }}</td>
            </tr>
            <tr>
                <th>Num_employees</th>
                <td>{{ company.numEmployees }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('companies_index') }}">back to list</a>

    <a href="{{ path('companies_edit', {'id': company.id}) }}">edit</a>

    {{ include('companies/_delete_form.html.twig') }}
{% endblock %}
